doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ZoomClone
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
       
    style  
        include style.css

    body 
        header 
            H1 Z👀m
        main
            div#welcome
                form 
                    div.box
                        div.inputBox
                            b Write a Room Name 
                            input#roomName(placeholder="Room name", required, type="text")
                        
                        div.inputBox
                            b Write a Nickname 
                            input#nickname(placeholder="Nickname", required, type="text")
                    button Enter Room
                
                div#errorMessage

            div#call  
                div#room
                    div#videoContainer
                        div#videos
                            div#myStream
                                div.videoColumn
                                    h3
                                    video#myFace(autoplay, playsinline, muted, )
                            div.videoColumn#peerColumn
                                h3 Anonymous   
                                video#peerFace(autoplay, playsinline, muted, )
                        
                        div#setting 
                            div.column
                                button#mute 
                                    i.fas.fa-volume-mute(aria-hidden='true') 
                                button#camera 
                                    i.fas.fa-video(aria-hidden='true') 
                                select#cameras
                            div.column
                                button#exit Exit
                                    

                    div#chatContainer
                        div
                            span
                        ul
                        form
                            input(type="text", placeholder="Type message here...")
                            button#send
                                i.far.fa-paper-plane(aria-hidden='true') 
                
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")