@import "./css/reset.css";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  max-width: 768px;
  width: 80%;
}

form {
  width: 100%;
}

input {
  color: black;
  font-size: 14px;

  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #fe9706;

  font-weight: bold;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #feab37;
}

i {
  font-size: 14px;
  color: white;
}

select {
  color: black;
  font-size: 14px;

  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

#welcome form {
  margin-top: 80px;
}

#welcome b {
  margin-bottom: 8px;
}

#welcome input {
  margin-bottom: 12px;
  margin-top: 0px;
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;

  font-size: 16px;
}

#welcome button {
  margin-top: 40px;
  width: 100%;
}

#videoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#videos h3 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #videos {
    display: flex;
    flex-direction: column;
  }

  #setting {
    display: flex;
    flex-direction: column;
  }
}

#setting {
  /* width: 80%; */
  margin-top: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

#peerFace {
  background-color: #4a4a4a;
  color: white;
}

.box {
  width: 100%;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox:not(:last-child) {
  margin-bottom: 15px;
}

#setting button {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

#room header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exit {
  background-color: #e61111;
  padding: 8px 10px;
  border-radius: 6px;
  height: 32px;
}

#exit:hover {
  background-color: #d62121;
}

#room header h3 {
  text-align: center;
}

#room ul {
  height: 300px;
  overflow-y: scroll;
  max-width: 100%;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
  margin: 0;
}

#room li {
  display: inline-block;
  list-style: none;
  padding: 10px 14px;
  border-radius: 19px;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: rgb(36, 36, 40);
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
}

#room input {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f6f6f6;
  margin-left: 10px;
}

#msg {
  display: flex;
  align-items: center;
}

#msg input {
  width: 90%;
  margin: 0;
}

#msg button {
  padding: 4px;
  border-radius: 4px;
  height: 32px;
  width: 20%;

  font-size: 14px;
}

#name input {
  padding: 1rem 16px;
  margin-right: 10px;
}
