body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  max-width: 768px;
  width: 80%;
}

form {
  width: 100%;
}

input {
  color: black;
  font-size: 14px;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #fe9706;

  font-weight: bold;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #feab37;
}

#welcome form {
  margin-bottom: 80px;
}

#welcome button {
  width: 100%;
}

.box {
  width: 100%;
  margin-bottom: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox:not(:last-child) {
  margin-bottom: 15px;
}

.inputBox input {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

#room header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exit {
  background-color: #e61111;
  padding: 8px 10px;
  border-radius: 6px;
  height: 32px;
}

#exit:hover {
  background-color: #d62121;
}

#room header h3 {
  text-align: center;
}

#room ul {
  height: 300px;
  overflow-y: scroll;
  max-width: 100%;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
  margin: 0;
}

#room li {
  display: inline-block;
  list-style: none;
  padding: 10px 14px;
  border-radius: 19px;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: rgb(36, 36, 40);
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
}

#room input {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f6f6f6;
  margin-left: 10px;
}

#msg {
  display: flex;
  align-items: center;
}

#msg input {
  width: 90%;
  margin: 0;
}

#msg button {
  padding: 4px;
  border-radius: 4px;
  height: 32px;
  width: 20%;

  font-size: 14px;
}

#name input {
  padding: 1rem 16px;
  margin-right: 10px;
}
